body {
  font-family: Verdana, sans-serif;
  font-size: 20px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 5%;
}

/* CSS for `code` taken from past student Jeffrey Tan's submission */
code {
  background-color: aliceblue;
  border-radius: 0.25rem;
  padding: 0.15rem;
  color: #0098f1;
}

.image-container-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 100%;
}

.image-container-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 100%;
}

.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-title {
  margin-bottom: 8px;
  font-size: 18px;
  color: #333;
}

.image-wrapper {
  width: 100%;
  margin-bottom: 8px;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.displacement-text {
  margin-top: 8px;
  font-size: 18px;
  color: #333;
  text-align: center;
}
